.createPostPage{
    position: relative;
    top: 80px;
    /* width: 100%; */
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.postDetails{
    width: 50%;
    border: 2px solid gray;
    /* height: 100vh; */
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* justify-content: space-between; */
}
.titleInput ,.authorname{
    width: 95%;
    height: 40px;
    padding: 0 1rem;
}
.quillDiv{
    height: 20%;
}
.quill{
    width: 100%;
}
.select{
    width: 100%;
    height: 40px;
    padding: 0 1rem;
}
/* .selectDiv .select{
    width: 100%;
    height: 100%;
} */
.fileInput{
    width: 100%;
}
.postBtn{
    background: #000;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  color: #fff;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  position: relative;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .overlay.active {
    opacity: 1;
  }
  
  .spinner {
    z-index: 1000;
    position: relative;
  }

  @media (max-width: 900px){
    .createPostPage{
        padding: 2rem 2rem;
    }
    .createPostPage h1{
        font-size: 2rem;
    }
    .postDetails{
        width: 90%;
        padding: 2rem;
    }
    .select{
        height: 30px;
    }
    .titleInput ,.authorname{
        width: 95%;
        height: 30px;
        padding: 0 1rem;
    }
    .ql-toolbar .ql-snow{
        padding: 2px;
    }
  }

  @media (max-width: 500px){
    .createPostPage{
        padding: 2rem 2rem;
    }
    .createPostPage h1{
        font-size: 1.3rem;
    }
    .postDetails{
        width: 90%;
        padding: 1rem;
    }
    .select{
        height: 30px;
    }
    .titleInput ,.authorname{
        width: 88%;
        height: 30px;
        padding: 0 1rem;
    }
    .ql-toolbar .ql-snow{
        padding: 2px;
    }
  }