.postDisplay{
    position: relative;
    top: 60px;
    /* width: 100%; */
    text-align: center;
    padding:  1rem 15rem;
}
.postnotfound{
  position: absolute;
  top: 40vh;
  left: 47vw;
}
.postDisplay h1{
  font-size: 3rem;
    text-transform: capitalize;
}

.extraInfo {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
    /* font-size: 0.9rem; */
  }
  .authorInfo{
    font-size: 1rem;
  }
  .categoryandtime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    gap: 5px;
  }
  .categoryandtime .category {
    margin: 0;
    background-color: #494a4a;
    color: rgb(232, 232, 232);
    padding: 6px 10px 8px;
    text-align: center;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: .8rem;
  }
  .timeCreated {
    background-color: transparent;
    color: gray;
    font-size: 0.7rem;
  }
  .timeCreated svg {
    position: relative;
    top: 3px;
    font-size: 0.9rem;
  }
  .thumbnail{
    width: 100%;
    padding: 1rem 0;
    height: 420px;
    object-position: center;
  }
  .thumbnail img{
    width: 100%;
    object-fit: contain;
    height: 400px;
    object-position: center;
  }
  .description{
    padding: 0rem;
    text-align: left;
  }
  .categoryandtime button{
    background: #000;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  color: #fff;
  padding: 8px 25px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all.3s;
  }
  .categoryandtime button:active{
    transform: scale(.95);
  }

  @media (max-width: 900px){
    .postDisplay{
      padding: 1rem;
    }
    .postDisplay h1{
      font-size: 2.2rem;
        text-transform: capitalize;
    }
    .extraInfo{
      padding: 10px 15px; 
    }
    .thumbnail{
      height: 300px;
      padding: 1.2rem 0;
    }
    .thumbnail img{
      height: 98%;
    }
    .description{
      padding: 0 1rem;
    }
  }

  @media (max-width: 500px){
    .postDisplay{
      padding: 1rem;
    }
    .postDisplay h1{
      font-size: 2rem;
        text-transform: capitalize;
    }
    .extraInfo{
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    .categoryandtime{
      display: flex;
      flex-direction: column;
    }
    .thumbnail{
      height: 250px;
      padding: 1rem 0;
    }
    .thumbnail img{
      height: 95%;
    }
    .categoryandtime button{
      width: 120px;
    }
    .description{
      padding: 0 ;
    }
  }